* {
  box-sizing: border-box;
  font-family: 'Roboto';
}
body {
  margin: 0;
  background-color: #f8f9d2;
  background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz-container {
  background-color: #fff;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  overflow: hidden;
}
.quiz-header {
  padding: 2rem;
}
h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 1rem 0;
}
ul label {
  padding-left: 3px;
  cursor: pointer;
}
button {
  border: none;
  background-color: #e55039;
  display: block;
  font-family: inherit;
  font-size: 1.1rem;
  width: 100%;
  padding: 1.3rem;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
button:hover {
  background-color: #db4d37;
}
button:active {
  background-color: #c04d3b;
}
